# ==========================
# Node
# ==========================
**/node_modules/
**/dist/
**/.vite/
desktop.ini
# ==========================
# Java / Spring Boot
# ==========================
**/target/
**/.classpath
**/.project
**/.settings/
**/.factorypath

# ==========================
# IntelliJ
# ==========================
.idea/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env
.env.local
application-local.yml